.admin-item-manage {
    display: flex;
    height: 1024px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
  }
  
  .admin-item-manage .wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    position: relative;
  }
  
  .admin-item-manage .header {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #8f8ff1;
  }
  
  .admin-item-manage .container {
    display: flex;
    width: 1032px;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    flex-direction: column;
    position: relative;
  }
  
  .admin-item-manage .div {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 574px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -10px;
  }
  
  .admin-item-manage .logo-icon {
    position: relative;
    flex: 0 0 auto;
    height: 60px;
  }
  
  .admin-item-manage .logo-text {
    position: absolute;
    width: 82px;
    top: 15px;
    left: 43px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .admin-item-manage .logo-img {
    position: absolute;
    width: 42px;
    height: 29px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .admin-item-manage .header-input {
    position: absolute;
    width: 503px;
    height: 44px;
    top: 3px;
    left: 185px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .admin-item-manage .search-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 22px;
  }
  
  .admin-item-manage .main-menu {
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .admin-item-manage .menu-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .admin-item-manage .menu-item-txt {
    width: 50px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-item-manage .text-wrapper {
    width: 60px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-item-manage .main {
    flex-direction: column;
    width: 1440px;
    height: 754px;
    gap: 10px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .admin-item-manage .container-2 {
    display: flex;
    width: 1032px;
    height: 724px;
    align-items: flex-start;
    padding: 0px 88px;
    margin-bottom: -30px;
    flex-direction: column;
    position: relative;
  }
  
  .admin-item-manage .title {
    display: flex;
    height: 80px;
    align-items: flex-end;
    width: 856px;
    position: relative;
  }
  
  .admin-item-manage .title-msg {
    height: 50px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    width: 856px;
    position: relative;
  }
  
  .admin-item-manage .row {
    display: flex;
    flex-direction: column;
    width: 856px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 18px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .admin-item-manage .admin-item-table {
    position: relative;
    width: 820px;
    height: 390px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .admin-item-manage .pagination {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .admin-item-manage .page {
    width: 32px;
    background-color: #919eab;
    border-radius: 4px;
    opacity: 0.5;
    position: relative;
    height: 32px;
  }
  
  .admin-item-manage .carat {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
  }
  
  .admin-item-manage .page-active-wrapper {
    width: 32px;
    position: relative;
    height: 32px;
  }
  
  .admin-item-manage .page-active {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #4200ff;
    position: relative;
    height: 32px;
  }
  
  .admin-item-manage .num {
    font-family: "SF Pro Text-Bold", Helvetica;
    color: #4200ff;
    position: absolute;
    width: 24px;
    top: 4px;
    left: 4px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .admin-item-manage .page-2 {
    width: 32px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: #dfe3e8;
    position: relative;
    height: 32px;
  }
  
  .admin-item-manage .num-2 {
    font-family: "Inter-Bold", Helvetica;
    color: var(--dark-grey-400);
    position: absolute;
    width: 24px;
    top: 4px;
    left: 4px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .admin-item-manage .footer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 204px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f9f9f9;
  }
  
  .admin-item-manage .row-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .admin-item-manage .row-2 {
    display: flex;
    width: 1032px;
    align-items: flex-start;
    gap: 376px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .admin-item-manage .col {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 150px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .admin-item-manage .row-3 {
    position: relative;
    width: 328px;
    height: 150px;
  }
  
  .admin-item-manage .logo-icon-2 {
    position: absolute;
    width: 124px;
    height: 30px;
    top: 120px;
    left: 1px;
  }
  
  .admin-item-manage .footer-text {
    position: absolute;
    width: 250px;
    top: 74px;
    left: 0;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .admin-item-manage .git-hub {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 105px;
    left: 283px;
  }
  
  .admin-item-manage .p {
    position: absolute;
    width: 297px;
    top: 74px;
    left: 31px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  