.join {
    display: flex;
    height: 1024px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
  }
  
  .join .wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    position: relative;
  }
  
  .join .header {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #8f8ff1;
  }
  
  .join .container {
    display: flex;
    width: 1032px;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    flex-direction: column;
    position: relative;
  }
  
  .join .div {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 574px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -10px;
  }
  
  .join .logo-icon {
    position: relative;
    flex: 0 0 auto;
    height: 60px;
  }
  
  .join .logo-text {
    position: absolute;
    width: 82px;
    top: 15px;
    left: 43px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .join .logo-img {
    position: absolute;
    width: 42px;
    height: 29px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .join .header-input {
    position: absolute;
    width: 503px;
    height: 44px;
    top: 3px;
    left: 185px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .join .search-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 22px;
  }
  
  .join .main-menu {
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .join .menu-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .join .menu-item-txt {
    width: 50px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .text-wrapper {
    width: 60px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .main {
    flex-direction: column;
    width: 1440px;
    height: 754px;
    gap: 10px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .join .container-2 {
    display: flex;
    width: 1032px;
    height: 724px;
    align-items: flex-start;
    padding: 0px 88px;
    margin-bottom: -30px;
    flex-direction: column;
    position: relative;
  }
  
  .join .title {
    display: flex;
    height: 80px;
    align-items: flex-end;
    width: 856px;
    position: relative;
  }
  
  .join .title-msg {
    height: 50px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    width: 856px;
    position: relative;
  }
  
  .join .row {
    display: flex;
    width: 856px;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 18px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .join .col {
    display: flex;
    flex-direction: column;
    width: 820px;
    align-items: center;
    gap: 5px;
    padding: 20px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .join .join-info {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    height: 80px;
    align-items: flex-start;
    gap: 0px 5px;
    position: relative;
  }
  
  .join .join-text {
    position: relative;
    width: 137px;
    height: 30px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .join-error-wrap {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 30px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .join .join-error {
    position: relative;
    width: 237px;
    height: 15px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ff0000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .join-error-2 {
    position: relative;
    width: 237px;
    height: 15px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ff0000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .join-input {
    position: relative;
    width: 381px;
    height: 33px;
    background-color: #ffffff;
  }
  
  .join .join-info-2 {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    align-items: flex-start;
    gap: 10px 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .join .join-error-3 {
    position: relative;
    width: 247px;
    height: 15px;
    margin-right: -10px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ff0000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .join-input-2 {
    position: relative;
    width: 211px;
    height: 33px;
    background-color: #ffffff;
  }
  
  .join .button-find-zipcode {
    position: relative;
    width: 160px;
    height: 33px;
    background-color: #8f8ff1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .join .button-find-zipcode-2 {
    position: absolute;
    width: 160px;
    height: 33px;
    top: -1px;
    left: 0;
    font-family: var(--semi-bold-text-xl-20-font-family);
    font-weight: var(--semi-bold-text-xl-20-font-weight);
    color: #000000;
    font-size: var(--semi-bold-text-xl-20-font-size);
    text-align: center;
    letter-spacing: var(--semi-bold-text-xl-20-letter-spacing);
    line-height: var(--semi-bold-text-xl-20-line-height);
    font-style: var(--semi-bold-text-xl-20-font-style);
  }
  
  .join .join-button {
    display: flex;
    width: 381px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .join .button-confirm {
    position: relative;
    width: 160px;
    height: 60px;
    background-color: #8f8ff1;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .join .button-confirm-text {
    position: absolute;
    width: 160px;
    height: 60px;
    top: -1px;
    left: 0;
    font-family: var(--semi-bold-text-xl-20-font-family);
    font-weight: var(--semi-bold-text-xl-20-font-weight);
    color: #000000;
    font-size: var(--semi-bold-text-xl-20-font-size);
    text-align: center;
    letter-spacing: var(--semi-bold-text-xl-20-letter-spacing);
    line-height: var(--semi-bold-text-xl-20-line-height);
    font-style: var(--semi-bold-text-xl-20-font-style);
  }
  
  .join .footer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 204px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f9f9f9;
  }
  
  .join .row-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .join .row-2 {
    display: flex;
    width: 1032px;
    align-items: flex-start;
    gap: 376px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .join .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 150px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .join .row-3 {
    position: relative;
    width: 328px;
    height: 150px;
  }
  
  .join .logo-icon-2 {
    position: absolute;
    width: 124px;
    height: 30px;
    top: 120px;
    left: 1px;
  }
  
  .join .footer-text {
    position: absolute;
    width: 250px;
    top: 74px;
    left: 0;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .join .git-hub {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 105px;
    left: 283px;
  }
  
  .join .p {
    position: absolute;
    width: 297px;
    top: 74px;
    left: 31px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  