.order {
    display: flex;
    height: 1024px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
  }
  
  .order .wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    position: relative;
  }
  
  .order .header {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #8f8ff1;
  }
  
  .order .container {
    display: flex;
    width: 1032px;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    flex-direction: column;
    position: relative;
  }
  
  .order .div {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 574px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -10px;
  }
  
  .order .logo-icon {
    position: relative;
    flex: 0 0 auto;
    height: 60px;
  }
  
  .order .logo-text {
    position: absolute;
    width: 82px;
    top: 15px;
    left: 43px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .order .logo-img {
    position: absolute;
    width: 42px;
    height: 29px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
  .order .header-input {
    position: absolute;
    width: 503px;
    height: 44px;
    top: 3px;
    left: 185px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .order .search-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 22px;
  }
  
  .order .main-menu {
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .order .menu-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .order .menu-item-txt {
    width: 50px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .text-wrapper {
    width: 60px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .main {
    flex-direction: column;
    width: 1440px;
    height: 754px;
    gap: 10px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .order .container-2 {
    display: flex;
    width: 1032px;
    height: 724px;
    align-items: flex-start;
    padding: 0px 88px;
    margin-bottom: -30px;
    flex-direction: column;
    position: relative;
  }
  
  .order .title {
    display: flex;
    height: 80px;
    align-items: flex-end;
    width: 856px;
    position: relative;
  }
  
  .order .title-msg {
    height: 50px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    width: 856px;
    position: relative;
  }
  
  .order .row {
    display: flex;
    width: 856px;
    align-items: flex-start;
    gap: 58px;
    padding: 30px 18px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .order .item-order-left {
    display: flex;
    flex-direction: column;
    width: 381px;
    gap: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    align-items: flex-start;
    position: relative;
  }
  
  .order .item-order-item {
    display: flex;
    width: 341px;
    height: 136px;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    align-items: flex-start;
    position: relative;
  }
  
  .order .item-order-item-img {
    position: relative;
    width: 123px;
    height: 116px;
    border-radius: 10px;
    background-image: url(../assets/images/order-check-item-img.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .order .item-order-item-info {
    display: flex;
    flex-direction: column;
    width: 188px;
    height: 116px;
    align-items: flex-start;
    gap: 9px;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .order .item-order-item-name {
    position: relative;
    width: 169px;
    height: 26px;
    margin-top: -1px;
    margin-right: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .item-order-item-2 {
    position: relative;
    width: 169px;
    height: 26px;
    margin-right: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .item-order-item-img-2 {
    position: relative;
    width: 123px;
    height: 116px;
    border-radius: 10px;
    background-image: url(../assets/images/order-check-item-img.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .order .item-order-item-name-wrapper {
    display: flex;
    width: 341px;
    height: 55px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .order .item-order-item-name-2 {
    position: relative;
    width: 321px;
    height: 35px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .item-order-right {
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 584px;
    gap: 10px;
    align-items: flex-start;
    position: relative;
  }
  
  .order .div-2 {
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #ffffff;
    align-items: flex-start;
    position: relative;
  }
  
  .order .text-wrapper-2 {
    height: 30px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 381px;
  }
  
  .order .home-search-input {
    position: relative;
    width: 381px;
    height: 33px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .order .item-order-user {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px 10px;
    flex: 0 0 auto;
    background-color: #ffffff;
    position: relative;
    width: 381px;
  }
  
  .order .home-search-input-2 {
    position: relative;
    width: 211px;
    height: 33px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
  .order .button-buy {
    position: relative;
    width: 160px;
    height: 33px;
    background-color: #8f8ff1;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .order .button-buy-text {
    position: absolute;
    width: 160px;
    height: 33px;
    top: -1px;
    left: 0;
    font-family: var(--semi-bold-text-xl-20-font-family);
    font-weight: var(--semi-bold-text-xl-20-font-weight);
    color: #000000;
    font-size: var(--semi-bold-text-xl-20-font-size);
    text-align: center;
    letter-spacing: var(--semi-bold-text-xl-20-letter-spacing);
    line-height: var(--semi-bold-text-xl-20-line-height);
    font-style: var(--semi-bold-text-xl-20-font-style);
  }
  
  .order .item-detail-hr {
    height: 5px;
    background-color: #000000;
    position: relative;
    width: 381px;
  }
  
  .order .item-detail-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    flex: 0 0 auto;
    position: relative;
    width: 381px;
  }
  
  .order .button-buy-text-wrapper {
    position: relative;
    width: 160px;
    height: 60px;
    background-color: #8f8ff1;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .order .button-buy-text-2 {
    position: absolute;
    width: 160px;
    height: 60px;
    top: -1px;
    left: 0;
    font-family: var(--semi-bold-text-xl-20-font-family);
    font-weight: var(--semi-bold-text-xl-20-font-weight);
    color: #000000;
    font-size: var(--semi-bold-text-xl-20-font-size);
    text-align: center;
    letter-spacing: var(--semi-bold-text-xl-20-letter-spacing);
    line-height: var(--semi-bold-text-xl-20-line-height);
    font-style: var(--semi-bold-text-xl-20-font-style);
  }
  
  .order .footer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 204px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f9f9f9;
  }
  
  .order .row-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .order .row-2 {
    display: flex;
    width: 1032px;
    align-items: flex-start;
    gap: 376px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .order .col {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 150px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .order .row-3 {
    position: relative;
    width: 328px;
    height: 150px;
  }
  
  .order .logo-icon-2 {
    position: absolute;
    width: 124px;
    height: 30px;
    top: 120px;
    left: 1px;
  }
  
  .order .footer-text {
    position: absolute;
    width: 250px;
    top: 74px;
    left: 0;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .order .git-hub {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 105px;
    left: 283px;
  }
  
  .order .p {
    position: absolute;
    width: 297px;
    top: 74px;
    left: 31px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  