body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/* 
#root {
  display: flex;
  height: 1024px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
}

@media (max-width: 833px) {
  #root {
    height: 1194px;
    min-width: 834px;
  }

  .home .container {

  }
} */